[submodule "ww-deal"]
	path = ww-deal
	url = ../../woefulwabbit/ww-deal.git
	branch = master
[submodule "pistache"]
	path = pistache
	url = ../../oktal/pistache.git
	branch = master
[submodule "json"]
	path = json
	url = ../../nlohmann/json.git
	branch = master
